.green {
    width:30%;
    height:20px;
    background-color: green;
}

.yellow {
    width:30%;
    height:20px;
    background-color: yellow;
}

.red {
    width:30%;
    height:20px;
    background-color: red;
}

img {
    max-width: 200px;
}

button {
    width:200px;
    height:30px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: slategrey;
    color: white;
    font-family: "Comic Sans MS";
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

button:active {
    background-color: lightgray;
}